{% extends 'base.html' %}
{% block title %}Acerca de nosotros{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div class="text-md-center">
        <h1 class="card-title">ABOUT US</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quo! Debitis delectus asperiores, distinctio voluptates odio reiciendis quod autem illum nam error molestiae cum rerum quis est fugiat aspernatur fuga?</p>
    </div>
    
    {% endblock %}
</body>
</html>