<html>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-link" onclick="location.href = `{% url 'generate_report' %}`">Generar reporte</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-link" onclick="location.href = `{% url 'report_status' %}`">Consultar reporte</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-link" onclick="location.href = `{% url 'register_user' %}`">Registrar usuario</button>
            </div>
        </div>
    </div>


</body>

</html>